# Ignorar todo
*

# Necesario para backend
!backend/api.py
!backend/requirements.txt
!backend/models/
!backend/model_training/

# Necesario para frontend
!frontend/*.json
!frontend/*.ts
!frontend/*.js
!frontend/*.html
!frontend/src
!frontend/public
